            genericResources:
              - name: {{ resource_name }}
                alias: {{ alias }}
                file: {{ file }}
                type: {{ res_type }}
                count: {{ count }}  # must be a string
                consumable: {{ consumable }}
                addToGresConfig: {{ add_to_gres_config }}
