            resourceProviders_ScaleDynamicNodesProvider:
              - name: {{ provider_name }}
                templateNode: {{ templateNode }}
                startTemplateNode: {{ startTemplateNode }}
                stopTemplateNode: {{ stopTemplateNode }}
                nodeRange: {{ nodeRange }}
                networkInterface: {{ networkInterface }}
                defaultResources: {{ defaultResources }}
