
    - name: clone {{ clone_from }} category -> {{ category_name }} category
      brightcomputing.bcm.category:
        name: {{ category_name }}
        cloneFrom: {{ clone_from }}
        
    - name: set {{ category_name }} category software image -> {{ software_image }}
      brightcomputing.bcm.category:
        name: {{ category_name }}
        softwareImageProxy: 
          parentSoftwareImage: {{ software_image }}
