    
    - name: creating {{wlm_cluster }} queue {{ queue_name }} from {{ clone_from }}
      brightcomputing.bcm.slurm_job_queue:
        name: {{ queue_name }}
        cloneFrom: {{ clone_from }}
        defaultQueue: {{ default_queue }}
        overSubscribe: {{ over_subscribe }}
        wlmCluster: {{ wlm_cluster }}
