        
- name: clone node {{ item['clone_from'] }} -> {{ item['hostname'] }}
  brightcomputing.bcm92.physical_node:
    hostname: {{ item['hostname'] }}
    cloneFrom: {{ item['clone_from'] }}
    category: {{ item['category'] }}
    
# {% for nic in item['nics'] %}

# - name: Configuring NIC {{ nic['device'] }} of node {{ item['hostname'] }}
#   brightcomputing.bcm92.physical_node:
#     hostname: {{ item['hostname'] }}
#     interfaces_NetworkPhysicalInterface:
#     - name: {{ nic['device'] }}
#       ip: {{ nic['ip'] }}
#       network: {{ nic['network'] }}

# {% endfor %}
