
  - name: creating the {{ image_name }} software image from the default-image
    brightcomputing.bcm.software_image:
      name: {{ image_name }}
      cloneFrom: {{ clone_from }}
      path: {{ image_path }}
      
  - name: Wait until initrd is generated
    wait_for:
      path: /cm/images/{{ image_name }}/boot/initrd.img
